/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fdf6ec;
    color: #2f3a44;
}

/* ================= HEADER ================= */

header {
    background: #414e5e;
    padding: 15px 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
}

.logo img {
    width: 60px;
    height: auto;
}

.texto-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.texto-logo h1 {
    font-family: 'Cinzel', serif;
    font-size: 36px;
    letter-spacing: 10px;
    margin: 100;
    color: #fee3b6;
}

/* productos capilares */
.texto-logo span {
    font-size: 11px;
    letter-spacing: 4px;
    margin-top: 4px;
    color: #e6c48a;
    font-weight: 300;
}

/* BUSCADOR */
.buscar {
    display: flex;
}

.buscar input {
    padding: 8px 12px;
    border: none;
    border-radius: 20px 0 0 20px;
    outline: none;
    width: 220px;
}

.buscar button {
    background: #414e5e;
    border: none;
    padding: 8px 15px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

/* ICONOS */
.icons a {
    margin-left: 15px;
    font-size: 20px;
    color: white;
}

/* ================= PRODUCTO ================= */

.producto {
    display: flex;
    gap: 60px;
    padding: 60px;
    background: white;
    margin: 40px auto;
    width: 90%;
    max-width: 1200px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

/* IMAGEN */
.imagenes {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 10px;
}

.imagenes img {
    max-width: 100%;
    max-height: 450px;
    object-fit: contain;
}

/* INFORMACIÓN */
.informacion {
    flex: 1;
    display: flex;
    flex-direction: column;
     
    justify-content: center; /* centra verticalmente */
    
}

.informacion h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.informacion h4 {
    font-size: 22px;
    color: #2f3a44;
    margin-bottom: 20px;
}

/* BOTÓN */
.informacion button {
    width: 250px;
    padding: 15px;
    border: none;
    border-radius: 30px;
    background: #414e5e;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 30px;
    display: block;
    margin: 30px auto 0 auto;
}

.informacion button:hover {
    background: #414e5e;
}

/* DETALLES */
.detalles {
    margin-top: 20px;
}

.detalles h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.detalles p {
    line-height: 1.6;
    color: #555;
}

/* ================= COMENTARIOS ================= */

/* ================= COMENTARIOS ABAJO ================= */

.comentarios-section {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto 60px auto;
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.comentarios-contenedor h3 {
    margin-bottom: 20px;
    font-size: 22px;
}

#listaComentarios {
    margin-bottom: 25px;
}

.comentario-item {
    background: #f5f5f5;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}
#formComentario {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#formComentario input,
#formComentario textarea {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

#formComentario textarea {
    resize: none;
    height: 90px;
}

#formComentario button {
    background: #414e5e;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

#formComentario button:hover {
    background: #343d2c;
}
/* ================= FOOTER ================= */

footer {
    text-align: center;
    padding: 20px;
    background: #414e5e;
    color: white;
    margin-top: 40px;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 900px) {
    .producto {
        flex-direction: column;
        padding: 30px;
    }

    .informacion button {
        width: 100%;
    }

    .buscar input {
        width: 150px;
    }
}